body {
    background-image: url('img\twilight.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(2, 14, 25);
}

.navbar {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .brand-logo {
    height: 50px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links .nav-items {
    margin: 0 15px;
}

.nav-links .nav-items a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links .nav-items a:hover {
    text-decoration: underline;
}

.right-container {
    display: flex;
    align-items: center;
}

.right-container .search-box {
    padding: 5px;
    margin-right: 10px;
}

.right-container button {
    padding: 5px 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}

main {
    padding: 20px;
    text-align: center;
  
}

.section {
    margin: 20px 0;
}

.card-container {
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    gap: 20px;
    padding:20px ;
}

.index-card {
   
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 300px;   
    text-align: center;
   
}


.index-card img {
    max-width: 100%;
    border-radius: 10px;
    width: 300px;
    height: 200px;
}
.index-card img:hover{
    max-width: 100%;
    border-radius: 16px;
    width: 330px;

}

footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
}

footer .footer-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer .footer-content ul li {
    margin: 0 15px;
}

footer .footer-content ul li a {
    color: white;
    text-decoration: none;
}

footer .footer-content ul li a:hover {
    text-decoration: underline;
}

footer p {
    margin: 20px 0 0 0;
    color: white;
}
